/* Work Sans Font by Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");
/* Main CSS */
* {
    margin: 0;
    padding: 0;
}

:root {
    --theme-color: #ff42a5;
    --title-gradient-color: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    --white-color: #fff;
    --body-font-size: 1.125em;
    --title-text-color: #534c64;
    --tile-font-size: 16px;
    --description-font-size: 16px;
}

/* h1 {
    color: var(--theme-color);
    font-size: var(--body-font-size);
}
 */

img {
    max-width: 100%;
}

body {
    font-family: "Work Sans", sans-serif;
    font-size: var(--body-font-size);
    color: var(--title-text-color);
    font-style: normal;
    line-height: 30px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

/* Similar CSS Style */
.section-container {
    width: 1440px;
    margin: 0 auto;
}

button.rogue,
button.section-btn {
    text-transform: uppercase;
    padding: 21px 40px;
    border-radius: 48px;
    border: 0;
    background: var(
        --Linear,
        linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%)
    );
    color: var(--white-color);
    font-size: 1.25em;
    font-weight: 600;
    cursor: pointer;
}

.section-title h3 {
    color: #0b0223;
    font-weight: 700;
    font-size: 3em;
    padding-bottom: 35px;
}

.section-title h3 span {
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-title p {
    margin-bottom: 32px;
}

/* Header Section CSS */
header.header {
    padding: 38px 0;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

header.header .section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme-title a {
    display: flex;
    align-items: center;
    font-size: 45px;
    font-weight: 700;
    color: var(--theme-color);
}

.theme-title img {
    width: 86px;
    margin-right: 20px;
}

.theme-title span {
    color: #0b0223;
}

header.header nav > ul {
    display: flex;
    align-items: center;
}

header.header nav > ul > li {
    display: inline-block;
    margin-right: 32px;
}

header.header nav > ul > li > a,
.menu-follow a {
    color: #3c354f;
    font-weight: 500;
    transition: 0.3s;
}

header.header nav > ul > li > a:hover {
    color: var(--theme-color);
}

.menu-follow {
    background-color: rgba(11, 2, 35, 0.1);
    padding: 17px 24px;
    border-radius: 8px;
    display: flex;
    transition: 0.3s;
}

.menu-follow a {
    cursor: pointer;
}

.menu-follow a img {
    margin-left: 14px;
    max-width: 33px;
    position: relative;
    top: 4px;
    left: 0;
}

.menu-follow:hover a {
    color: var(--white-color);
}

.menu-follow:hover {
    background-color: var(--theme-color);
}

/* Banner Section CSS */

section.banner {
    padding: 30px 0;
}

section.banner .section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content h3 {
    font-size: 2.667em;
    text-transform: uppercase;
    font-weight: 600;
}

.banner-content h2 {
    font-size: 5.278em;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 70px 0;
}

.banner-content ul > li {
    list-style: none;
    margin-bottom: 17px;
}

.banner-content ul {
    display: block;
}

.banner-content ul > li > a {
    font-size: 1.25em;
    font-weight: 500;
    color: var(--title-text-color);
}

.banner-content ul > li > a img {
    position: relative;
    right: 0;
    top: 4px;
    margin-right: 10px;
}

button.rogue,
button.section-btn {
    text-transform: uppercase;
    padding: 21px 40px;
    border-radius: 48px;
    border: 0;
    background: var(
        --Linear,
        linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%)
    );
    color: var(--white-color);
    font-size: 1.25em;
    font-weight: 600;
}

button.rogue {
    background: #4ec5f7;
}

.banner-btn button {
    margin-right: 24px;
}

/* We Are Gamer Section  Style CSS */
section.gamer {
    background: linear-gradient(
        90deg,
        rgba(255, 66, 165, 0.03) 13.13%,
        rgba(255, 66, 165, 0.03) 87.94%
    );
}

section.gamer .section-container {
    padding: 55px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.gamer .gamer-image {
    width: 178%;
}

.gamer-content {
    text-align: right;
}

.gamer-content button {
    margin-bottom: 24px;
}

.gamer-content p.purpose {
    line-height: 45px;
    font-weight: 500;
    font-size: 1.5em;
}

.gamer-content p.quote {
    font-weight: 700;
    line-height: 45px;
    font-size: 1.7em;
}

.gamer-content {
    width: 100%;
}

/* Online Game Section Style CSS */
section.online-games {
    padding: 120px 0;
    margin-bottom: 120px;
}

.online-games .section-title {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
}

.games-card {
    display: flex;
    gap: 24px;
}

.card-box {
    font-size: 1.12em;
    font-weight: 500;
    line-height: 30px;
    max-width: 342px;
    cursor: pointer;
}

.card-box img {
    margin-bottom: 24px;
    border-radius: 16px;
    transition: 0.3s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* 
.card-box img:hover::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    content: " Hello";
    display: block;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.5s;
} */

/* Offer Section Style CSS */

/* Careers Section Style CSS */
section.careers-section {
    background: linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%);
}

.careers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Game list Style CSS */
.game-list {
    display: flex;
    align-items: center;
    color: #0b0223;
    font-size: 20px;
    font-weight: 100;
    transition: 0.5s;
    border: 1.5px solid #fff;
    border-radius: 50px;
    padding: 10px;
}

.game-list img {
    max-width: 60px;
    border-radius: 50px;
    margin-right: 16px;
}

.game-list-btn {
    display: grid;
    gap: 37px;
    grid-template-columns: repeat(5, 1fr);
}

section.game-list-section {
    padding: 120px 0;
}

.game-list:hover {
    border: 1.5px solid #ff42a5;
    background: var(
        --Linear,
        linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Footer Section */
footer.footer {
    padding: 120px 0;
    margin: 0 auto;
    text-align: center;
    background-color: #0b0223;
    color: var(--white-color);
}

footer.footer .theme-title a {
    display: block;
    margin-bottom: 66px;
}

footer.footer .theme-title a span {
    color: #fff;
}

footer.footer ul > li > a {
    color: var(--white-color);
}

.footer-menu-top ul > li {
    display: inline-block;
    margin-right: 60px;
}

.footer-menu-top ul > li > a {
    font-size: 1.125em;
    font-weight: 600;
    transition: 0.3s;
}

.footer-menu-top {
    margin-bottom: 56px;
}

.footer-menu-top ul > li > a:hover {
    color: var(--theme-color);
}

.footer-social ul > li {
    display: inline-block;
    margin-right: 40px;
    max-width: 57px;
}

.footer-social ul > li > a {
    transition: 0.3s;
}

.footer-social ul > li > a:hover {
    width: 90px;
}

.footer-social {
    margin-bottom: 74px;
}

.footer-menu-bottom ul > li {
    display: inline-block;
    margin-right: 60px;
}

.footer-menu-bottom ul > li > a {
    transition: 0.3s;
    font-size: 1em;
    font-weight: 500;
    /* color: rgba(255, 255, 255, 0.6); */
    color: red;
}

.footer-menu-bottom ul > li > a:hover {
    color: var(--theme-color);
}

.footer-menu-bottom {
    margin-bottom: 23px;
}
